
body{
    width: 100vw;
    padding: 0px;
}

.naviHome{
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
  
    
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
}




.naviHome ul{
    display: flex;
    list-style: none;
    margin-left: 0px;
    z-index: 1000;
    height: 84px;
    
    align-items: center;
    padding-left: 20px;
   
}


.naviHome ul li{
    
    font-size: 20px;
    font-weight: 500;
    
}




ul li a{
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    text-shadow:white 0px 0px 15px;
}

li.hm{
    padding-right: 50px;
    padding-left: 200px;
    margin-right: 20px;
    
}


li.about{
    padding-right: 30px;
    margin-right: 20px;
}

li.help{
    padding-right: 50px;
    margin-right: 20px;
}

li.blogHome{
    padding-right: 300px;
}





li.RegisterHome{
    padding-right: 50px;
    margin-left: 20px;
}

.regi{
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #7a2222;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;  
    box-shadow:#ffffff 0px 0px 10px;  
   

}



.logoHome {
    display: flex;
    margin-left: 30px;
    
    padding-left: 25px;
    padding-top: 6px;
    
    
    
}

.com {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 82px;
}

.bud {
    color: #fe1f1f;
    font-size: 30px;
    font-weight: 600;
    padding-top: 82px;
    
}


.home{
    height: 100vh;
    width: 100%;
    display: flex;
    
    background-color: rgb(4, 2, 8);
    
    text-align: center;
 
    align-items: center;
    justify-content: center;
    gap: 200px;
   

}

.content{
    display:flex ;
    flex-direction: column;
    text-align: left;
    padding-left: 150px;
    
}

.content h1{
    font-size: 50px;
    font-weight: 550;
    color: #2DE3E3;
}

.content h4{
    font-size: 14px;
    font-weight: 100;
    color: #E3E3E3;
    padding-top: 20px;
    padding-bottom: 200px;
    padding-left: 20px;
    
}

.explore{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #0A2C4E;
    color: #1EAFCF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: #01384d 0px 0px 100px;


}

.login{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 80px;
 }



input{
    
    border-radius: 10px;
    background-color: #E3E3E3;
    color: black;
    font-weight: 600;
    font-size: 15px;
    border: none;
    

}

.email{
    margin-bottom: 30px;
    width: 350px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    
}

.password{
    width: 350px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
}

.remember{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #E3E3E3;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    border: none;
}

.rem{
   
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #E3E3E3;
    margin-left: 2px;
    
}

.forgotPass{
    
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 80px;
}


.rememberPass{
    display: flex;
    align-items: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign{
    background-color: #0A2C4E;
    color: #7EC6D5;
    width: 350px;
    height: 40px;
    
    font-size: 20px;
    border-radius: 10px;


}


.connect{
    color:green;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-right: 200px;
    padding-left: 40px;
}

.facebook{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #0A2C4E;
    color: #7EC6D5;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: #7EC6D5 0px 0px 5px;
}
.twitter{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: rgb(21, 125, 210);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: #ffffff 0px 0px 5px;
}

.social{
    display: flex;
    gap: 25px;
    
}










