*{
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
}

.navi{
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
  
    position: relative;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
}




.navi ul{
    display: flex;
    list-style: none;
    margin-left: 0px;
    z-index: 1000;
    height: 84px;
    
    align-items: center;
}


.navi ul li{
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(110, 35, 214);
}




ul li a{
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    text-shadow:white 0px 0px 15px;
}

li.h{
    padding-right: 50px;
}


li.about{
    padding-right: 50px;
}

li.map{
    padding-right: 50px;
}

li.blog{
    padding-right: 300px;
}


li.dash{
    padding-right: 50px;
    background-color: #1EAFCF;
    color: #0A2C4E;
    align-items: center;
    padding: 10px 20px;
    border-radius: 35px;
     box-shadow: #ffffff 0px 0px 15px;
    
}

li.dash a{
    color: #0A2C4E;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
   
}



.regi{
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #7a2222;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;  
    box-shadow:#ffffff 0px 0px 10px;  

}



.logo {
    display: flex;
    margin-left: 50px;
    font-weight: bold;  
    padding-left: 25px;
    margin-top: 10px;
}

.com {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.bud {
    color: #fe1f1f;
    font-size: 35px;
    font-weight: 600;
    
}


.home{
    height: 100vh;
    width: 100%;
    display: flex;
    
    background-color: rgb(4, 2, 8);
    
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.content{
    display:flex ;
    flex-direction: column;
    text-align: left;
    
}

.content h1{
    font-size: 50px;
    font-weight: 550;
    color: #2DE3E3;
}

.content h4{
    font-size: 14px;
    font-weight: 100;
    color: #E3E3E3;
    padding-top: 20px;
    padding-bottom: 200px;
    
}

.explore{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #0A2C4E;
    color: #1EAFCF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: #01384d 0px 0px 100px;


}

.login{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}


input{
    width: 300px;
    height: 15px;
    border-radius: 10px;
    background-color: #E3E3E3;
    color: black;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 20px;
}

.email{
    margin-bottom: 30px;
}

.remember{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #E3E3E3;
    color: black;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

.forgotPass{
    padding-left: 100px;
}


.rememberPass{
    display: flex;
    align-items: left;
    
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign{
    background-color: #0A2C4E;
    color: #7EC6D5;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px


}


.connect{
    color:green;
    padding-top: 10px;
    padding-bottom: 80px;
}

.facebook{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #0A2C4E;
    color: #7EC6D5;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: #7EC6D5 0px 0px 5px;
}
.twitter{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: rgb(21, 125, 210);
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: #ffffff 0px 0px 5px;
}

.social{
    display: flex;
    gap: 25px;
}










