*{
   
    margin: 0;
    padding: 0;
}

body {
      font-family: Arial, sans-serif;
      background-color:  rgb(4, 2, 8);
      background-size: cover;
     
      
    }

.hd {
    display: flex;
}

.logo{
  padding-top: 1px;
  padding-left: 1px;
}

.com {
    
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 1px;
}

.bud {
    color: #fe1f1f;
    font-size: 30px;
    font-weight: 600;
    padding: 1px;
    
}



.back-btn {
      display: inline-flex;
      align-items: center;
      width: 60px;
      margin-top: 10px;
      margin-left: 10px;

      font-size: 16px;
      font-weight: 500;
      border: none;
      border-radius: 8px;
      background: #6c1b1b;
      cursor: pointer;
      transition: background 0.2s ease;
      flex-direction: column;
      
      padding: 10px;
      
      border: 1px solid #ff9292;
      border-radius: 5px;
      color: black;
}

.back-btn:hover {
  background: #ff0000;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg); 
  margin-left: 4px;
}

.form-container {
      background: #0A2C4E;
      
      width: 600px;
      margin-left: 450px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(39, 28, 28, 0.1);
      padding-top: 50px;
      margin-top: 10px;
      box-shadow: #0d87b7 0px 0px 20px;
 }
h2 {
      text-align: center;
      color: rgb(22, 225, 248);
      padding-bottom: 50px;
}
    
input{
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 10px;
        margin-left: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: black;
        color: rgb(11, 214, 255);
    }
    
button.regibut{
      background-color: #1EAFCF;
      color: #0A2C4E;
      font-size: 16px;
      font-weight: 600;
      font-size: 25px;
      cursor: pointer;
      border-radius: 10px;
      width: 580px;
      height: 50px;
      margin-top: 100px;
      box-shadow: rgb(74, 159, 255) 0px 0px 20px;
    }
    
.regibut:hover {
      background: #45a049;
      background-color: #0A2C4E;
      color: #1EAFCF;
      
      
    }

label {
      margin-top: 20px;
      margin-bottom: 6px;
      color: #1EAFCF;
      font-weight: 600;
}

#avatarPreview {
     display:none; 
     width:100px; 
     height:100px; 
     object-fit:cover; 
     margin-top:10px;
}