body {
      font-family: Arial, sans-serif;
      background:url(3d-view-planet-earth.jpg) no-repeat center center fixed;
      background-size: cover;
      padding: 20px;
    }
.form-container {
      background: #0b0d27;
      opacity: 0.7;
      max-width: 500px;
      margin: auto;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(39, 28, 28, 0.1);
 }
h2 {
      text-align: center;
      color: rgb(236, 0, 0);
}
    
input, button {
        display: flex;
        flex-direction: column;
        width: 480px;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
    }
    
button {
      background: #4CAF50;
      color: white;
      font-size: 16px;
      cursor: pointer;
      width: 500px;
      margin-top: 100px;
    }
    
button:hover {
      background: #45a049;
      
    }

label {
      margin-bottom: 5px;
      color: rgb(13, 224, 13);
    }