    body { 
        font-family: Arial, sans-serif; 
        background-color: rgb(4, 2, 8); 
        padding: 10px; 
        display: flex;
    }
    .container { 
        max-width: 600px; 
        margin: auto; 
        background: #571f1f; 
        padding: 20px; 
        border-radius: 8px; 
        height: 90vh;
        box-shadow: #ff7070cc 0px 0px 35px;
        color: #ffb2b2cc;
    }
    input { 
        display: block; 
        width: 550px; 
        margin: 10px 0; 
        padding: 10px; 
        border-radius: 5px; 
        background-color: #ff7070; 
;
        color: #571f1f;
        font-weight: bold;
        font-size: 15px;
    }
    button { 
        cursor: pointer; 
        width: 575px;
        height: 40px;
        border-radius: 20px;
        background-color: rgb(20, 64, 20);
        color: rgb(113, 255, 113);
        font-size: 20px;
    }
    img { max-width: 100px; 
        border-radius: 50%; 
    }

    

